html {
    background-color: lightgray;
}

#head {
    position: relative;
    width: 850px;
    background-color: #3b5998;
    height: 200px;
    padding: 50px;
    color: white;
    padding-left: 205px;
    align-items: center;

}

.box {
    width: 220px;
    height: 50px;
    border: solid black;
    float: left;
    background-color: white;
}


#headshot {
    position: absolute;
    width: 120px;
    height: 180px;
    margin-left: 50px;
    display: flex;
    top: 150px;
}

#float-left {
    position: absolute;
    top: 265px;
    margin-left: 170px;
}

.column1 {
    width: 328px;
    height: 200px;
    border: solid black;
    float: left;
    margin-left: 150px;
    background-color: white;
    padding-bottom: 0px;
}
hr {
    color: navy;
}
.column2 {
    width: 512px;
    height: 200px;
    border: solid black;
    float: right;
    margin-right: 350px;
    background-color: white;
}

#address {
    font-size: larger;
}

#p {
    text-decoration: underline;
}